# ============================================
# Docker Hub
# ============================================
DOCKERHUB_USERNAME=

# ============================================
# Database (auth-service / MariaDB)
# ============================================
DB_ROOT_PASSWORD=root
DB_NAME=auth_db
DB_USER=app_user
DB_PASSWORD=1234

# ============================================
# JWT (min 256-bit / 32-byte secret for HS256)
# ============================================
JWT_SECRET=cutVWtvcDihrI1Q7nm1XUWqiCkWPz7eFdOr8rHrDBX0=
JWT_EXPIRATION=3600000

# ============================================
# RabbitMQ
# ============================================
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=admin123

# ============================================
# Database (presenca-service / PostgreSQL)
# ============================================
PRESENCA_DB_NAME=presenca_db
PRESENCA_DB_USER=postgres
PRESENCA_DB_PASSWORD=postgres

# ============================================
# Database (relatorio-service / PostgreSQL)
# ============================================
RELATORIO_DB_NAME=transporte_escolar_relatorios
RELATORIO_DB_USER=postgres
RELATORIO_DB_PASSWORD=postgres
