# ============================================
# Docker Hub
# ============================================
DOCKERHUB_USERNAME=

# ============================================
# Database (auth-service / MariaDB)
# ============================================
DB_ROOT_PASSWORD=root
DB_NAME=auth_db
DB_USER=app_user
DB_PASSWORD=1234

# ============================================
# JWT (min 256-bit / 32-byte secret for HS256)
# ============================================
JWT_SECRET=cutVWtvcDihrI1Q7nm1XUWqiCkWPz7eFdOr8rHrDBX0=
JWT_EXPIRATION=3600000

# ============================================
# RabbitMQ
# ============================================
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=admin123

# ============================================
# Database (presenca-service / PostgreSQL)
# ============================================
PRESENCA_DB_NAME=presenca_db
PRESENCA_DB_USER=presenca_user
PRESENCA_DB_PASSWORD=presenca_pass

# ============================================
# Database (route-generator / PostgreSQL)
# ============================================
ROUTE_GEN_DB_NAME=route_gen_db
ROUTE_GEN_DB_USER=route_user
ROUTE_GEN_DB_PASSWORD=route_pass

# ============================================
# Database (relatorio-service / MariaDB)
# ============================================
RELATORIO_DB_NAME=transporte_escolar_relatorios
RELATORIO_DB_USER=relatorio_user
RELATORIO_DB_PASSWORD=relatorio_pass
