# ============================================
# Docker Hub
# ============================================
DOCKERHUB_USERNAME=

# ============================================
# Database (auth-service / MariaDB)
# ============================================
DB_ROOT_PASSWORD=root
DB_NAME=auth_db
DB_USER=auth_user
DB_PASSWORD=1234

# ============================================
# JWT (min 256-bit / 32-byte secret for HS256)
# ============================================
JWT_SECRET=cutVWtvcDihrI1Q7nm1XUWqiCkWPz7eFdOr8rHrDBX0=
JWT_EXPIRATION=3600000

# ============================================
# RabbitMQ
# ============================================
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# ============================================
# Database (presenca-service / PostgreSQL)
# ============================================
PRESENCA_DB_NAME=presenca_db
PRESENCA_DB_USER=presenca_user
PRESENCA_DB_PASSWORD=1234

# ============================================
# Database (relatorio-service / PostgreSQL)
# ============================================
RELATORIO_DB_NAME=relatorio_db
RELATORIO_DB_USER=relatorio_user
RELATORIO_DB_PASSWORD=1234
